/** ページ共通の設定 */
.content {
    text-align: center;
    margin: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.content__head h1 {
    font-family: 'Kosugi Maru', sans-serif;
    color: #be7340;
    text-shadow: -3px -3px 0 #ffffff,  
                  3px -3px 0 #ffffff,
                 -3px 3px 0 #ffffff,
                  3px 3px 0 #ffffff;
    background-color: #faecce;
    transform: translateY(-100%);
    transition: transform 1s ease-in-out;
}

.content__head h1.show {
    transform: translateY(0);
}

/** ページのタイトル表示 */
.content__head {
    margin-bottom: 20px;
    font-size: 4em;
}

button {
    border: 2px solid #000; /* 外枠の太さと色を設定 */
    padding: 10px 20px; /* ボタンの内側の余白を設定 */
    background-color: #f0f0f0; /* ボタンの背景色を設定 */
    cursor: pointer; /* ポインターのカーソルに変更 */
    border-radius: 5px; /* 外枠の角を丸くする */
}

button:hover {
    background-color: #e0e0e0; /* ホバー時の背景色を変更 */
    border-color: #333; /* ホバー時の外枠の色を変更 */
}

/** content__itemを入れる親*/
.content__main {
    /** content__frameを横並び・中央寄せにする */
    display: flex;
    justify-content: center;

    /** ウィンドウの幅を縮めてもパズルの画像が崩れないように最低幅を指定 */
    min-width: 980px;
}

/** 画像の説明とパズルの枠を入れる*/
.content__item {
    margin-right: 50px;
    margin-bottom: 40px;
    font-size: 1.8em;
}

/**　問題と正解の文言 */
.content__description {
    margin-bottom: 20px;
}

/**　画像を入れている枠 */
.content__frame {
    width: 410px;
    height: 410px;
    background-color: #010a38;
    border: 10px solid #5f432d;
    border-radius: 10px;

}

/* タイル画像の境界の線  */
.tile__image {
    width: 130px;
    height: 130px;
    border: 1px solid #b38d51;
}