* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: none; */
}

body {
    /* background-image: url("../img-shooting/choju23_0030_1.png");
    background-repeat: no-repeat;
    background-size: cover; */
    height: 100%;
    text-align: center;
}

.container {
    position: relative;
    height: 80vh;
    
}
button, #timer {
    color: black;
    border: 2px solid black;
    background-color: aliceblue;
    padding: 15px 45px;
    font-size: 1.1rem;
    margin-top: 3em;
    outline: none;
}

#timer {
    color: red;
}

.bloodSpot {
    position: absolute;
    height: 150px;
    transform: translate(-50%, -50%);
    display: none;
    pointer-events: none;
    user-select: none ;
    z-index: 3;
}

.cursor {
    position: absolute;
    height: 70px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none ;
    z-index: 4;
}

#enemy {
    position: absolute;
    height: 200px;
    display: none;
    user-select: none ;
    z-index: 2;
}